/* add styles */
header,
main,
footer {
    /* based on some things */
    min-height: 64px;
}

#root {
    min-height: 100vh;
    min-height: 100dvh;

    display: grid;
    grid-template-rows: auto 1fr auto;
}

.wrapper {
    /* ch based on reading line */
    width: min(100% - 3rem, 60ch);
    margin-inline: auto;
}

.flow > * + * {
    /* space is now dynamic */
    margin-top: var(--flow-space, 1em);
}

.sidebar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    align-items: start;
}

.sidebar > :first-child {
    flex-basis: 300px;
    /* acts like a breakpoint */
    flex-grow: 9999;
}

.sidebar > :last-child {
    flex-basis: 200px;
    flex-grow: 1;
}
